/research/Новости коммераснат.xlsx
/research/bank_index.xlsx
/research/bert_macro.xlsx
/research/bert_micro.xlsx
/research/lda_topics.xlsx
/research/news_result.xlsx
/research/preprocessed_news.xlsx
/research/tf_idf+spectral.xlsx
/research/years_data.xlsx
/research/комментарии_банки.xlsx
/research/preprocessed_nps.xlsx
/research/bert_news.xlsx 
/research/cluster_info.xlsx 
